<div class="container">
  <h1>Тестовое задание</h1>
  <div class="row">
    
    <div class="col-md-4">
      <input class="mt-2" type="text" [(ngModel)]="idInstance" placeholder="idInstance">
      <input class="mt-2" type="text" [(ngModel)]="apiTokenInstance" placeholder="ApiTokenInstance">
      <input class="btn btn-primary mt-1" type="button" value="getSettings" (click)="getSettings()">
      <input class="btn btn-primary mt-1" type="button" value="getStateInstance" (click)="getStateInstance()">

      <input class="mt-4" type="text" [(ngModel)]="chatId" placeholder="chatId">
      <textarea class="mt-2" [(ngModel)]="message" placeholder="hello world"></textarea>
      <input class="btn btn-primary mt-1" type="button" value="sendMessage" (click)="sendMessage()">

      <input class="mt-4" type="text" [(ngModel)]="chatIdForFile" placeholder="chatIdForFile">
      <input class="mt-2" type="text" [(ngModel)]="fileUrl" placeholder="yourFileUrl">
      <input class="btn btn-primary mt-1" type="button" value="sendFileByUrl" (click)="sendFileByUrl()">
    </div>

    <div class="col-md-8">
      <h2>Ответ:</h2>
      <textarea [(ngModel)]="resultat" class="resultat" readonly></textarea>
    </div>

  </div>
</div>

